
<h3> Only update the information you want to change! </h3>
<form id='post_form' action="/post" method='post'>
  <label for='title'>Title:</label>
  <input type='text' name='title' value="<%= @post.title %>"/>
  <label for='text'>Text:</label>
  <textarea name='text'><%= @post.text %></textarea>
  <label for='price'>Price:</label>
  <input type='text' name='price' value="<%= @post.price %>" />
  <label for='email'>Email:</label>
  <input type='text' name='email' value="<%= @post.email %>"/>
  <input type='hidden' name='post_id' value="<%= @post.id %>" />
  <input type='hidden' name='_method' value='put' />
  <input type='submit' value='SamsList is so Cool!' />
</form>
